  /* Media Query for low resolution  Tablets, Ipads */
  @media only screen and (max-width: 560px) {
    header {
        top: 64px;
        width: 100%;
    }
    body{
      background-size: 678px 815px;
  }
  #h1{
     width: 40%;
  }
  #logo{
      width: 74px;
      margin-top: -50px;
      
  }
  nav{
    width: 64%;
  }

    ul li a{
      margin: 6px;
      font-size: 0.8rem;

    }
  
    ul li.active{
     text-align: right;
    }
  
    .fa-search{
      margin-left: 71;
    }
    .search-box{
      line-height: 34px;
      width: 28%;
      font-size: 0.6rem;
      float: right;
    }
    .search-box input[type="text"]{
        width: 13%;

        margin-right: 19px;
    }
    .search-box input[type="button"] {
    width: 28px;
    height: 28px;
    margin-left: 39px;
    }
  
  #self{
    margin-top: 109px;
    width: 203px;
  }
  #d1{
      width: 196px;
  }
  #d2{
    width: 203px;
}
.videos{
   flex: none;
}
.video{
  width: 25%;
  
}

#Dhoni_article{
  padding: 15px;
  width: 72%;
  font-size: 0.8rem;
}
#footer {
  padding: 18px;
  width: 77%;
  height: 31px;
}
#footer a{
  padding: 11px;
  font-size: 0.8rem;
}
  }
  /* media queries */
  