  /* Media Query for mobile phones*/
  @media only screen and (max-width: 576px) {
    header {
        width: 100%;
    }
    body{
      background-size: 100%;
      width: 76%;
      background-color: white;
      background-position: 80px 74px;
  }
  hr{
     width: 576px;
  }
  #logo{
      width: 14%;
      margin-top: -51px;
  }
  nav{
    width: 100%;
  }
  nav ul li a{
    font-size: 0.7rem;
    padding: 10px 6px;
  }
    .fa-search{
      margin-left: 71;
    }
    .search-box{
      margin-top: 3px;
      font-size: 0.8rem;
      width: 30%;
    }
    .search-box input[type="text"]{
      width: 60%;
      border-radius: 8px;
      margin-top: 5px;
      padding: 0;
  }
  #self{
    margin-top: 112px;
    width: 203px;
  }
  #d1{
      width: 196px;
  }
  #d2{
    width: 203px;
}
hr {
  width: 485px;
}
.videos{
   display: block;
   background-color: white;
   border: none;
   width: 320px;
}
.video{
  margin: 9%;
}

#Dhoni_article{
  font-size: 0.8rem;
}
#footer {
  padding: 10px;
  width: 576px;
  height: 56px;
}
#footer a{
  padding: 11px;
  font-size: 0.8rem;
}
  }
  /* media queries */
