*{
  margin: 0;
  padding: 0;
}

hr {
    width: 61px;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(220, 220, 228);
    background-image: url(images/ms-dhoni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 111%;
  }
  /* header style*/
  header {
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0,0.6);
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    padding: 3px;
    box-sizing: border-box;
    height: 75px; 
    width: 100%;
    border-bottom: 2px solid black;
  }
  #h1{
    margin-left: 140px;
    margin-top: 17px;
    margin-bottom: -20;
    padding-top: 6px;
    overflow: hidden; 
    color: rgb(190, 181, 181);
  }
#logo {
    float: left;
    box-sizing: border-box;
    width: 100px;
    margin-left: 10px;
    margin-top: -40px;
    border-radius: 20px;
  }
  /*header style*/
  /* Style the top navigation bar */
nav {
  overflow: hidden;  /* Hide overflow */
  background-color: rgb(0, 0, 0,0.6);
  position: fixed;
  width: 100%;
  top: 75px;
}
nav ul{
   list-style-type: none; 
   margin: 0; 
   padding: 0; 
}
nav ul li{
  float: left;
  font-weight: 900;
  cursor: pointer;
}
ul li:hover:not(.active){
 background: #000;
}
nav ul li a{
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
/* Change color on hover/mouse-over */
nav a:hover {
  background-color: rgba(0, 0, 0,0.4); 
  color: rgb(243, 241, 241); 
}

#self{
  margin-top: 128px;
  text-align: center;
  color: rgb(248, 6, 6);
  width: 400px;
  background-color: rgb(249, 250, 249);
  

}
#subheading{
  color: rgb(243, 101, 6);
}
#d1{
  width: 400px;
  flex: 40%;
  border-radius: 90px;
  background-color: rgb(0, 0, 0,0.6);
}
#d2{
  width: 400px;
  border-radius: 90px;
  background-color: rgb(0, 0, 0,0.6);
}
/*videos style*/
<<<<<<< HEAD
.video{
   display: flex; 
  /* padding-left: 20px; */
=======
.videos{
  display: flex;
  padding: 26px;
>>>>>>> master
  background-color: rgb(0, 0, 0,0.6);
  border: 1px  solid rgb(247, 7, 7);
  
}
.video{
  margin: 6px;
}

#Dhoni_article{
  background: rgb(0, 0, 0,0.6);
  font-size: 1.5rem;
  border: 1px solid red;
  padding: 14px 14px 14px 14px;
  width: 100%;
  color: aqua;
}
footer {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  position:relative;
  width: 100%;
}
footer a{
  padding: 8px;
  display: inline-flexbox;
 
   
}
